<!DOCTYPE html>
<html>
<head>
         <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0" />
         <link rel="stylesheet" href="/static/reportStyle.css" type="text/css" />
</head>
<body>
    <input type="checkbox" class="theme-switch" id="theme-switch">
    <div id="page">
        <div class="header" id="header">
            <ul class="headerList">
                <li class="headerListElement">
                    <a href="/">plaster</a>
                </li>
                <li class="headerListElement">
                    <a href="/">Home</a>
                </li>
                <li class="headerListElementSearchBar">
                    <form class="searchForm" method="post" action="/search">
                        <input required placeholder="Search for themes" type="search" class="tSearch" name="search" />
                    </form>
                </li>
            </ul>
            <label class="button_theme_switch" for="theme-switch"></label>
        </div>
        <form method="post" id="reportForm" class="reportForm" autocomplete="off">
            <label for="reportName">What's the name of a new report?</label>
            <input type="text" required maxlength="50" class="reportName" name="reportName">

            <label for="reportDesc">What's the description of a new report?</label>
            <textarea type="text" required maxlength="500" class="reportDesc" name="reportDesc"></textarea>

            <input type="hidden" class="reportDate" name="reportDate" value="">

            <input type="hidden" class="reportAgent" name="reportAgent" value="">

            <button type="submit"  class="btn btn-primary">Submit</button>
        </form>

        <div class="mainReportList">
                    <div class="reportList">
                            {{range .Comment}}
                            <div>
                                    {{if .Pic }}<img src="/static/{{.Pic}}">{{end}}
                                    <a class="prev" href="/theme?themeId={{.Uid}}">{{.Title}}</a>
                                    <p>{{.Date}}</p>
                                    <p>{{.Uid}}</p>
                                    <p>{{.Content}}</p>
                            </div>
                            {{end}}
                    </div>

        </div>
    </div>

	<script>
		var date = new Date().toLocaleString('en-US', { timeZone: "Europe/London" });

        var formInfo = document.forms['reportForm'];

        formInfo.reportDate.value = date;
        formInfo.reportAgent.value = navigator.userAgent;

		//Remember color theme
		const themeSwitch = document.querySelector('.theme-switch');
		themeSwitch.checked = localStorage.getItem('switchedTheme') === 'true';

		themeSwitch.addEventListener('change', function (e) {
			if(e.currentTarget.checked === true) {
				// Add item to localstorage
				localStorage.setItem('switchedTheme', 'true');
			} else {
				// Remove item if theme is switched back to normal
				localStorage.removeItem('switchedTheme');
			}
		}); 
	</script>
</body>
</html>
